{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script>
        function resetView() {
            document.getElementById("content-area").innerHTML = "<h2>Welcome to Innranet</h2>";
        }

        function loadContent(content) {
            document.getElementById("content-area").innerHTML = `<h2>${content}</h2>`;
        }
    </script>
</head>
<body>
    <!-- Main Container -->
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <h1 class="sidebar-header">Bestseller</a>
              <div class="sidebar-buttons">
                <div class="sidebar-button" onclick="loadContent('NOOS')">NOOS</div>
                <div class="separator"></div>
                <div class="sidebar-button" onclick="loadContent('Væntanlegt')">Væntanlegt</div>
                <div class="separator"></div>
                <div class="sidebar-button" onclick="window.location.href='/bonus/'">Bonus</div>
                <div class="separator"></div>
                <div class="sidebar-button" onclick="window.location.href='/laun/'">Laun</div>
            </div>
            
        </div>
        
        <!-- Main Content -->
        <div class="main">
          <!-- Top Bar -->
          <div class="topbar">
              <h2 class="topbar-title">
                  <a href="/" class="clickable-header" onclick="resetView()" style="text-decoration: none; color: inherit;">Innranet</a>
              </h2>
          </div>
      
            <!-- Content Area -->
            <div class="content" id="content-area">
                <h2>Welcome to Innranet</h2>
            </div>
        </div>
    </div>
</body>
</html>
