:root {
    --navy-background: rgba(26, 26, 46, 1);
    --blue-middle: rgba(15, 52, 96, 1);
    --light-blue-button: rgba(28, 151, 178, 1);
    --white: rgba(217, 217, 217, 1);
    --mainlightblue: rgba(221, 226, 255, 1);
    --grayscale-gray-light: rgba(197, 199, 205, 1);
  }